.template-builder-page-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px); /* 80px is the height of the app bar */
  overflow-y: hidden;
}

.template-builder-page-container .left-panel {
  flex-grow: 1;
}

.template-builder-page-container .right-panel {
  width: 400px;
  height: 100%;
  box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.12);
}
