.range-slider-form-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.range-slider-form-field-current-value {
  margin-left: var(--spacing-2);
  font-size: var(--fontSizes-2);
  font-weight: var(--fontWeights-medium);
  color: var(--colors-neutral-500);
}

.range-slider-form-field-input {
  accent-color: var(--colors-neutral-800);
  cursor: pointer;
}
