.text-form-field-input {
  padding: var(--spacing-2);
  border: 1px solid var(--colors-neutral-300);
  border-radius: var(--radii-1);
  font-size: var(--fontSizes-4);
  color: var(--colors-neutral-900);
  transition: border-color 0.2s ease;
}
